<template>
  <button class="burger" type="button" @click="menuIsActive = !menuIsActive">
    <span class="burger__text">
      {{ menuIsActive ? 'Close' : 'Menu' }}
    </span>
    <span class="burger__icon">
      <span class="burger__line" />
      <span class="burger__line" />
      <span class="burger__line" />
    </span>
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      menuIsActive: false,
    };
  },
});
</script>
