<template>
  <header class="header">
    <!-- <TheLogo />
    <TheBurger /> -->
  </header>
</template>

<script lang="ts">
import Vue from 'vue';

// import TheLogo from "./TheLogo";
// import TheBurger from "./TheBurger";

export default Vue.extend({
  components: {
    // TheLogo,
    // TheBurger,
  },
});
</script>

<style lang="scss">
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 18px;
}
</style>
