<template>
  <div class="logo">
    <div class="logo__title">Hoffman</div>
    <div class="logo__subtitle">Just Another Gridsome Site</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style lang="scss">
.logo {
  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary;
  }

  &__subtitle {
    display: none;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    color: $gray-600;
  }
}
</style>
