// Color system

$primary: #928452;

$white: #ffffff;
$gray-50: #fafafa;
$gray-100: #eeeeee;
$gray-200: #f9f9f9;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-450: #dddddd;
$gray-500: #767676;
$gray-600: #666666;
$gray-700: #555555;
$gray-750: #444444;
$gray-800: #333333;
$gray-900: #222222;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-serif: 'Vollkorn', sans;

$font-family-secondary: $font-family-serif !default;

$font-size-base: 0.9rem;
$font-weight-base: 600;
$line-height-base: 1.4;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-200;
$body-color: $gray-800;

// Navs

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;

$nav-tabs-border-color: $gray-100;
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color
  $nav-tabs-border-color;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color
  $nav-tabs-border-color $nav-tabs-link-active-bg;
