<template>
  <Layout>
    <main class="categories">
      <BlockCatalogHeader :content="headerContent" />
      <BlockPost
        v-for="post in $page.posts.edges"
        :key="post.node.id"
        :post="post.node"
      />
      <Pagination
        v-if="$page.posts.pageInfo.totalPages > 1"
        :info="$page.posts.pageInfo"
      />
    </main>
  </Layout>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue';

import BlockCatalogHeader from '~/components/blocks/BlockCatalogHeader.vue';
import BlockPost from '~/components/blocks/BlockPost/index.vue';
import Pagination from '~/components/shared/Pagination/index.vue';

import seoMeta from '~/mixins/seo-meta';

import { CategoryContent } from '~/types/pages/Category';
import { AuthorContent } from '~/types/pages/Author';
import { PageInfo } from '~/types/meta/PageInfo';
import { Post } from '~/types/post/Post';
import { ContentProps } from '~/components/blocks/BlockCatalogHeader.vue';

interface CategoriesPage {
  $page: {
    data: { content: CategoryContent & AuthorContent };
    posts: {
      pageInfo: PageInfo;
      edges: [{ node: Post }];
    };
  };
}

export default (Vue as VueConstructor<Vue & CategoriesPage>).extend({
  components: { Pagination, BlockPost, BlockCatalogHeader },
  mixins: [seoMeta],
  computed: {
    headerContent(): ContentProps {
      return {
        title: this.$page.data.content.title || this.$page.data.content.name,
        description: this.$page.data.content.description,
        component: this.$page.data.content.component,
        totalPages: this.$page.posts.pageInfo.totalPages,
        currentPage: this.$page.posts.pageInfo.currentPage,
      };
    },
  },
});
</script>

<page-query>
query StoryblokCategory($page: Int, $perPage: Int, $id: ID!, $lang: String!, $posts: [String!]!) {
  data: storyblokEntry(id: $id) {
    content
  }

  posts: allStoryblokEntry(perPage: $perPage, page: $page filter: {lang: {eq: $lang}, uuid: {in: $posts}}) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        full_slug
        first_published_at
        content
      }
    }
  }
}
</page-query>
