<template>
  <Layout>
    <main class="home">
      <BlockPost
        v-for="post in $page.posts.edges"
        :key="post.node.id"
        :post="post.node"
      />
      <Pagination
        v-if="$page.posts.pageInfo.totalPages > 1"
        :info="$page.posts.pageInfo"
      />
    </main>
  </Layout>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue';

import BlockPost from '~/components/blocks/BlockPost/index.vue';
import Pagination from '~/components/shared/Pagination/index.vue';

import seoMeta from '~/mixins/seo-meta';

import { HomeContent } from '~/types/pages/Home';
import { PageInfo } from '~/types/meta/PageInfo';
import { Post } from '~/types/post/Post';

interface HomePage {
  $page: {
    data: { content: HomeContent };
    posts: {
      pageInfo: PageInfo;
      edges: [{ node: Post }];
    };
  };
}

export default (Vue as VueConstructor<Vue & HomePage>).extend({
  components: { BlockPost, Pagination },
  mixins: [seoMeta],
});
</script>

<page-query>
query StoryblockHomePage($page: Int, $perPage: Int, $id: ID!, $lang: String!, $posts: [String!]!) {
  data: storyblokEntry(id: $id) {
    content
  }

  posts: allStoryblokEntry(perPage: $perPage, page: $page filter: {lang: {eq: $lang}, uuid: {in: $posts}}) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        full_slug
        first_published_at
        content
      }
    }
  }
}
</page-query>
