<template>
  <Layout>
    <main class="post-page">
      <BlockPost :post="$page.data" full-content />
      <BlockTabs :content="tabsContent" />
    </main>
  </Layout>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue';

import BlockPost from '~/components/blocks/BlockPost/index.vue';
import BlockTabs from '~/components/blocks/BlockTabs.vue';

import seoMeta from '~/mixins/seo-meta';

import { Post } from '~/types/post/Post';
import { PostContent } from '~/types/post/PostContent';
import { Category } from '~/types/pages/Category';
import { Author } from '~/types/pages/Author';
import { TabsContent } from '~/types/post/TabsContent';

interface PostPage {
  $page: {
    data: Post;
    previousPost: { full_slug: string; content: PostContent };
    nextPost: { full_slug: string; content: PostContent };
    categories: { edges: { node: Category }[] };
    tags: { edges: { node: Category }[] };
    author: { edges: { node: Author }[] };
  };
}

export default (Vue as VueConstructor<Vue & PostPage>).extend({
  components: { BlockPost, BlockTabs },
  mixins: [seoMeta],
  computed: {
    tabsContent(): TabsContent {
      return {
        first_published_at: this.$page.data.first_published_at,
        categories: this.$page.categories.edges,
        tags: this.$page.tags.edges,
        author: this.$page.author.edges,
        previous: this.$page.previousPost,
        next: this.$page.nextPost,
      };
    },
  },
});
</script>

<page-query>
query StoryblockPost($id: ID!, $lang: String!, $categories: [String!]!, $tags: [String!]!, $author: String!,  $previousId: ID, $nextId: ID) {
  data: storyblokEntry(id: $id) {
    id
    full_slug
    first_published_at
    content
  }

  previousPost: storyblokEntry(id: $previousId) {
    full_slug
    content
  }

  nextPost: storyblokEntry(id: $nextId) {
    full_slug
    content
  }

  categories: allStoryblokEntry(filter: {lang: {eq: $lang}, uuid: {in: $categories}}) {
   edges {
      node {
        full_slug
        content
      }
    }
  }

  tags: allStoryblokEntry(filter: {lang: {eq: $lang}, uuid: {in: $tags}}) {
   edges {
      node {
        full_slug
        content
      }
    }
  }

  author: allStoryblokEntry(filter: {lang: {eq: $lang}, uuid: {eq: $author}}) {
   edges {
      node {
        full_slug
        content
      }
    }
  }
}
</page-query>
