<template>
  <div v-html="richtext" />
</template>

<script lang="ts">
import Vue, { PropType, VueConstructor } from 'vue';

import { PostRichtextContent } from '~/types/post/PostRichtextContent';

interface ComponentInstance {
  $storyapi: any;
}

export default (Vue as VueConstructor<Vue & ComponentInstance>).extend({
  props: {
    content: {
      type: Object as PropType<PostRichtextContent>,
      required: true,
    },
  },
  computed: {
    richtext(): string {
      return this.$storyapi.richTextResolver.render(this.content);
    },
  },
});
</script>
