<template>
  <section class="post-content" :class="{ 'post-content--full': fullContent }">
    <header class="post-content__header">
      <div class="post-content__date">
        {{ date }}
      </div>
    </header>
    <h1 v-if="fullContent" class="post-content__title">
      {{ post.content.title }}
    </h1>
    <h2 v-else class="post-content__title">
      <GLink :to="$tp(`/${post.full_slug}`)" class="post-content__link" />
      {{ post.content.title }}
    </h2>
    <Richtext
      class="post-content__description"
      :content="fullContent ? post.content.content : post.content.short_content"
    />
    <BaseButton v-if="!fullContent" :to="$tp(`/${post.full_slug}`)">
      {{ $t('buttons.readMore') }}
    </BaseButton>
  </section>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import Richtext from '~/components/shared/Richtext.vue';
import BaseButton from '~/components/base/BaseButton.vue';

import formatDate from '~/mixins/format-date';

import { Post } from '~/types/post/Post';

export default Vue.extend({
  components: {
    Richtext,
    BaseButton,
  },
  mixins: [formatDate],
  props: {
    post: {
      type: Object as PropType<Post>,
      required: true,
    },
    fullContent: {
      type: Boolean as PropType<boolean>,
      default: () => false,
    },
  },
});
</script>

<style lang="scss">
.post-content {
  padding: 40px 15px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__date {
    font-size: 16px;
    color: $gray-500;
    letter-spacing: 1px;
  }

  &__title {
    position: relative;
    font-size: 28px;
    font-weight: 800;
    color: $gray-900;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    &::after {
      display: block;
      width: 64px;
      height: 4px;
      margin: 25px auto;
      content: '';
      background-color: $primary;
    }

    &:hover {
      color: $primary;
    }
  }

  &--full &__title:hover {
    color: $gray-900;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__description {
    font-family: $font-family-secondary;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;

    & > * {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    img {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    max-width: 700px;
    padding: 70px 0;
    margin-right: auto;
    margin-left: auto;

    &__date {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 45px;

      &::after {
        margin: 40px auto;
      }
    }

    &__description {
      font-size: 20px;

      & > * {
        margin-bottom: 20px;
      }
    }
  }
}
</style>
