<template>
  <BAspect aspect="16:8">
    <BCarousel
      :controls="images.length > 1"
      :interval="10000"
      class="post-carousel"
    >
      <BCarouselSlide
        v-for="image in images"
        :key="image.id"
        class="post-carousel__slide"
      >
        <template #img>
          <BImgLazy
            :src="image.filename"
            :alt="image.alt"
            class="post-carousel__image"
          />
        </template>
      </BCarouselSlide>
    </BCarousel>
  </BAspect>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import { PostImage } from '~/types/post/PostImage';

export default Vue.extend({
  props: {
    images: {
      type: Array as PropType<PostImage[]>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.post-carousel {
  height: 100%;

  .carousel-inner {
    height: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    justify-content: flex-start;
    font-size: 0;
    opacity: 1;
    color: $gray-800;
    transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 32px;
    height: 32px;
    background-color: currentColor;
    background-size: auto 12px;
  }

  &__slide {
    height: 100%;
  }

  img,
  &__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include media-breakpoint-up(md) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 48px;
      height: 48px;
    }
  }

  @include media-breakpoint-up(xl) {
    .carousel-control-prev,
    .carousel-control-next {
      @include hover-focus() {
        color: $primary;
      }

      background-size: auto 16px;
    }
  }
}
</style>
