<template>
  <article class="post">
    <BlockPostSlider v-if="post.content.images" :images="post.content.images" />
    <BlockPostContent :post="post" :full-content="fullContent" />
  </article>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import BlockPostContent from './BlockPostContent.vue';
import BlockPostSlider from './BlockPostSlider.vue';

import { Post } from '~/types/post/Post';

export default Vue.extend({
  components: {
    BlockPostContent,
    BlockPostSlider,
  },
  props: {
    post: {
      type: Object as PropType<Post>,
      required: true,
    },
    fullContent: {
      type: Boolean as PropType<boolean>,
      default: () => false,
    },
  },
});
</script>

<style lang="scss">
.post {
  &:not(:first-of-type) {
    border-top: 1px solid $gray-100;
  }
}
</style>
