<template>
  <div class="related">
    <GLink :to="$tp(`/${slug}`)" class="related__link" />
    <div class="related__subtitle">{{ subtitle }}</div>
    <div class="related__title">{{ title }}</div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

export default Vue.extend({
  props: {
    title: {
      type: String as PropType<string>,
      required: true,
    },
    subtitle: {
      type: String as PropType<string>,
      required: true,
    },
    slug: {
      type: String as PropType<string>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.related {
  position: relative;
  padding: 15px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-100;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    color: $gray-500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    &__subtitle {
      font-size: 13px;
    }

    &__title {
      font-size: 18px;
    }
  }

  @include media-breakpoint-up(xl) {
    &__title {
      transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    &:hover &__title,
    &:focus &__title,
    &:active &__title {
      color: $primary;
    }
  }
}
</style>
