<template>
  <header class="catalog-header">
    <h1 class="catalog-header__masthead">
      <span class="catalog-header__item">{{ content.component }}:</span>
      <span class="catalog-header__item">{{ content.title }}</span>
      <span class="catalog-header__item">
        ({{ $t('catalog.page') }} {{ content.currentPage }}
        {{ $t('catalog.of') }} {{ content.totalPages }})
      </span>
    </h1>
    <div v-if="content.description" class="catalog-header__description">
      {{ content.description }}
    </div>
  </header>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

export interface ContentProps {
  title: string;
  description?: string;
  component: string;
  totalPages: number;
  currentPage: number;
}

export default Vue.extend({
  props: {
    content: {
      type: Object as PropType<ContentProps>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.catalog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 15px;
  color: $gray-500;
  background-color: $gray-100;

  &__masthead {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__item {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-top: 15px;
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    padding: 35px 15px;

    &__masthead {
      flex-direction: row;
    }

    &__item {
      font-size: 14px;

      &:not(:last-of-type) {
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    &__description {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}
</style>
