<template>
  <div class="author">
    <GLink :to="$tp(`/${author.full_slug}`)" class="author__link" />
    <BImgLazy :src="author.content.image.filename" class="author__image" />
    <div class="author__name">
      {{ author.content.name }}
    </div>
    <div class="author__position">{{ author.content.position }}</div>
    <div class="author__desc">{{ author.content.description }}</div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import { Author } from '~/types/pages/Author';

export default Vue.extend({
  props: {
    author: {
      type: Object as PropType<Author>,
      required: true,
    },
  },
  mounted() {
    console.log(this.author.content.name);
  },
});
</script>

<style lang="scss">
.author {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-areas: 'author name' 'author position' 'author description';
  column-gap: 15px;

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    grid-area: author;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    grid-area: name;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 800;
    color: $gray-900;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__position {
    grid-area: position;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    color: $gray-500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__desc {
    grid-area: description;
    font-size: 14px;
    font-weight: 400;
    color: $gray-600;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: 120px 1fr;
    column-gap: 30px;

    &__image {
      width: 120px;
      height: 120px;
    }

    &__name {
      font-size: 20px;
    }

    &__position {
      font-size: 14px;
    }

    &__desc {
      font-size: 18px;
    }
  }
}
</style>
