<template>
  <BTabs
    nav-class="tabs__nav"
    content-class="tabs__content"
    nav-wrapper-class="tabs__wrapper"
  >
    <BTab title-item-class="tabs__item" title-link-class="tabs__link">
      <template #title>
        <FileIcon class="tabs__icon" />
        <span class="tabs__title-text">{{ $t('titles.postInfo') }}</span>
      </template>
      <BlockInfo :post="content" />
    </BTab>
    <BTab title-item-class="tabs__item" title-link-class="tabs__link">
      <template #title>
        <UserIcon class="tabs__icon" />
        <span class="tabs__title-text">{{ $t('titles.authorInfo') }}</span>
      </template>
      <BlockAuthor :author="content.author[0].node" />
    </BTab>
  </BTabs>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import FileIcon from '~/assets/icons/file.svg';
import UserIcon from '~/assets/icons/user.svg';
import BlockInfo from './BlockInfo.vue';
import BlockAuthor from './BlockAuthor.vue';

import { TabsContent } from '~/types/post/TabsContent';

export default Vue.extend({
  components: { FileIcon, UserIcon, BlockInfo, BlockAuthor },
  props: {
    content: {
      type: Object as PropType<TabsContent>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.tabs {
  &__wrapper {
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: inset 0 -2px 0 0 $gray-100;
  }

  &__item {
    margin-right: -2px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    color: $gray-500;
    text-transform: uppercase;

    &.nav-link {
      border-color: $gray-100 $gray-100 $gray-100;
    }

    &:not(.active):hover {
      color: $gray-500;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
  }

  &__title-text {
    display: none;
  }

  &__content {
    padding: 45px 15px;
  }

  @include media-breakpoint-up(md) {
    padding: 0;

    &__nav {
      max-width: 700px;
      margin: 0 auto;
    }

    &__link {
      font-size: 14px;
    }

    &__icon {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }

    &__title-text {
      display: block;
    }

    &__content {
      max-width: 700px;
      padding: 70px 0;
      margin: 0 auto;
    }
  }
}
</style>
