<template>
  <div class="info">
    <div class="info__left">
      <div class="info-item">
        <UserIcon class="info-item__icon" width="15" height="15" />
        <GLink
          :to="$tp(`/${post.author[0].node.full_slug}`)"
          class="info-item__text"
        >
          {{ post.author[0].node.content.name }}
        </GLink>
      </div>
      <div class="info-item">
        <ClockIcon class="info-item__icon" width="15" height="15" />
        <div class="info-item__text">{{ date }}</div>
      </div>
      <div class="info-item">
        <FolderIcon class="info-item__icon" width="15" height="15" />
        <GLink
          v-for="category in post.categories"
          :key="category.node.content._uuid"
          :to="$tp(`/${category.node.full_slug}`)"
          class="info-item__text"
        >
          {{ category.node.content.title }}
        </GLink>
      </div>
      <div class="info-item">
        <TagIcon class="info-item__icon" width="15" height="15" />
        <GLink
          v-for="category in post.tags"
          :key="category.node.content._uuid"
          :to="$tp(`/${category.node.full_slug}`)"
          class="info-item__text"
        >
          {{ category.node.content.title }}
        </GLink>
      </div>
    </div>
    <div class="info__right">
      <BlockRelatedPost
        v-if="post.next && matchesTheLanguage(post.next.full_slug)"
        :title="post.next.content.title"
        :subtitle="$t('post.next')"
        :slug="post.next.full_slug"
      />
      <BlockRelatedPost
        v-if="post.previous && matchesTheLanguage(post.previous.full_slug)"
        :title="post.previous.content.title"
        :subtitle="$t('post.previous')"
        :slug="post.previous.full_slug"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType, VueConstructor } from 'vue';

import UserIcon from '~/assets/icons/user.svg';
import ClockIcon from '~/assets/icons/clock.svg';
import FolderIcon from '~/assets/icons/folder.svg';
import TagIcon from '~/assets/icons/tag.svg';
import BlockRelatedPost from './BlockRelatedPost.vue';

import formatDate from '~/mixins/format-date';

import { TabsContent } from '~/types/post/TabsContent';

interface componentInstance {
  $i18n: any;
}

export default (Vue as VueConstructor<Vue & componentInstance>).extend({
  components: { BlockRelatedPost, UserIcon, ClockIcon, FolderIcon, TagIcon },
  mixins: [formatDate],
  props: {
    post: {
      type: Object as PropType<TabsContent>,
      required: true,
    },
  },
  methods: {
    /**
     * Сhecking if the post matches the language
     * @param {string} postSlug - related post slug
     * @returns {boolean}
     */
    matchesTheLanguage(postSlug: string): boolean {
      const isDefaultLang = this.$i18n.locale === 'en';

      if (isDefaultLang && !postSlug.includes('ru/')) return true;
      else if (!isDefaultLang && postSlug.includes('ru/')) return true;
      else return false;
    },
  },
});
</script>

<style lang="scss">
.info {
  &__left {
    padding-bottom: 20px;
    border-bottom: 4px solid $gray-100;
  }

  &__right {
    padding-top: 20px;
  }

  @include media-breakpoint-up(md) {
    display: flex;

    &__left {
      flex: 0 0 70%;
      padding-right: 35px;
      padding-bottom: 0;
      border: none;
    }

    &__right {
      flex: 0 0 30%;
      padding-top: 0;
    }
  }
}

.info-item {
  display: flex;
  align-items: center;
  padding: 15px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-100;
  }

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    color: $primary;
  }

  &__text {
    font-size: 14px;
    color: $gray-600;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include hover-focus-active() {
      color: $gray-600;
      text-decoration: none;
    }

    &:not(:first-of-type) {
      &::before {
        margin-right: 3px;
        content: ',';
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__icon {
      width: 16px;
      height: 16px;
    }

    &__text {
      font-size: 16px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 20px 0;

    &__text {
      transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

      @include hover-focus-active() {
        color: $primary;
      }
    }
  }
}
</style>
