<script lang="ts">
import Vue, { VNode, CreateElement, PropType } from 'vue';

export default Vue.extend({
  props: {
    to: {
      type: String as PropType<string>,
      default: () => '',
    },
  },
  methods: {
    /**
     * Render button element
     * @param {CreateElement} h - Vue create element function
     * @returns {VNode} - Vue node
     */
    renderButton(h: CreateElement): VNode {
      return h('button', 'button');
    },
    /**
     * Render GLink element
     * @param {CreateElement} h - Vue create element function
     * @returns {VNode} - Vue node
     */
    renderLink(h: CreateElement): VNode {
      return h(
        'GLink',
        {
          staticClass: 'base-button',
          props: {
            to: this.to,
          },
        },
        this.$slots.default
      );
    },
  },
  render(h): VNode {
    if (this.to) {
      return this.renderLink(h);
    } else {
      return this.renderButton(h);
    }
  },
});
</script>

<style lang="scss">
.base-button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $primary;
  transition: background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
    color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  @include button-variant(
    $white,
    $primary,
    $primary,
    $primary,
    $white,
    $primary
  );
  @include button-size(12px, 18px, 14px, 1.2, 0);

  color: $primary;

  @include hover-focus-active() {
    text-decoration: none;
  }
}
</style>
