<template>
  <div class="pagination-wrapper">
    <div class="pagination-wrapper__row">
      <Pagination :info="info" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import Pagination from './PaginationElement.vue';

import { PageInfo } from '~/types/meta/PageInfo';

export default Vue.extend({
  components: { Pagination },
  props: {
    info: {
      type: Object as PropType<PageInfo>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.pagination-wrapper {
  padding: 30px 0;
  border-top: 1px solid $gray-100;

  &__row {
    max-width: 90%;
    margin: 0 auto;
  }

  @include media-breakpoint-up(md) {
    padding: 35px 0;
  }
}
</style>
