<template>
  <div class="pagination">
    <div class="pagination__label">{{ $t('titles.pages') }}</div>
    <Pager
      :info="info"
      link-class="pagination__link"
      class="pagination__container"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import { Pager } from 'gridsome';

import { PageInfo } from '~/types/meta/PageInfo';

export default Vue.extend({
  components: { Pager },
  props: {
    info: {
      type: Object as PropType<PageInfo>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.pagination {
  display: inline-flex;
  background-color: $gray-50;
  line-height: 1;

  &__label {
    padding: 10px 12px;
    color: $gray-600;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
  }

  &__link {
    display: flex;
    width: 34px;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
    transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
      background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    @include media-breakpoint-up(xl) {
      @include hover-focus-active() {
        color: $white;
        text-decoration: none;
        background-color: $primary;
      }
    }

    &.active {
      color: $gray-750;
      background-color: $gray-450;
      cursor: default;
    }
  }
}
</style>
