<template>
  <div class="layout">
    <TheHeader />
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import TheHeader from '~/components/layouts/header/TheHeader.vue';

export default Vue.extend({
  components: {
    TheHeader,
  },
});
</script>

<style lang="scss">
.layout {
  position: relative;
  left: 0;
  max-width: 100%;
  background-color: $white;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    border: 10px solid transparent;
    border-top-color: $gray-200;
    border-right-color: $gray-200;
    border-bottom-color: $gray-100;
    border-left-color: $gray-100;
    content: '';
  }

  @include media-breakpoint-up(md) {
    width: 1200px;
    max-width: 95%;
    margin: 2.5% auto 0;

    &::before {
      border-width: 20px;
    }
  }
}
</style>
